html {
    background: url(../images/small_blue_tv.jpg) no-repeat center center fixed; 
    background-size: cover;
}

body {
    background: none;
    color: white;
}

label {
    _color: white;
}

.gif {
    margin-bottom: 1rem;
}

.favorite, .remove {
    display: block;
}

#tv-submit {
    background:#6EE618;
    color: black;
}

h2 {
    display:none;
}

.header-title {
    text-align: center;
}
